body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#dealer-cards img {
    height: 70px;
    width: 50px;
    margin-left: -25px;
}



#your-cards img {
    height: 70px;
    width: 50px;
    margin-left: -25px;
}

#action-buttons {
    display: none;
}

.btn {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

